@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

* {
  box-sizing: border-box;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Roboto", "Helvetica", sans-serif;
}
body.no_scroll {
  overflow: hidden;
}
//typogtaphy
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: $themeHeadingcolor;
}
h1 {
  font-size: 2.3rem;
  font-weight: 500;
  @media all and (min-width: $md-min) {
    font-size: 2.8rem;
  }
  @media all and (min-width: $lg-min) {
    font-size: 3.3rem;
  }
  @media all and (min-width: $xl-min) {
    font-size: 3.5rem;
  }
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  @media all and (min-width: $sm-min) {
    font-size: 2.1rem;
  }
  @media all and (min-width: $md-min) {
    font-size: 2.2rem;
  }
  @media all and (min-width: $lg-min) {
    font-size: 2.3rem;
  }
  @media all and (min-width: $xl-min) {
    font-size: 2.4rem;
  }
}
h3 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4;
  @media all and (min-width: $sm-min) {
    font-size: 1.3rem;
  }
  @media all and (min-width: $xl-min) {
    font-size: 1.4rem;
  }
}
h4 {
  font-size: 1.15rem;
  @media all and (min-width: $lg-min) {
    font-size: 1.25rem;
  }
  @media all and (min-width: $xl-min) {
    font-size: 1.35rem;
  }
}
h5 {
  font-size: 1.1rem;
  @media all and (min-width: $md-min) {
    font-size: 1.1rem;
  }
  @media all and (min-width: $xl-min) {
    font-size: 1.2rem;
  }
}
p,
li {
  font-size: 1rem;
  line-height: 1.6;
  @media all and (min-width: $xl-min) {
    font-size: 1.05rem;
  }
}
section {
  p {
    font-size: 1rem;
    line-height: 1.4;
    @media all and (min-width: $xl-min) {
      font-size: 1.05rem;
    }
  }
  h2,
  h3,
  h4 {
    margin-bottom: 1.3rem;
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  @media all and (min-width: 1700px) {
    max-width: 1400px;
  }
}
.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

//COMPONENTS
/**********************
   header and nav
***********************/
.nav_header {
  background: $themedarkgrey;
  width: 100%;
  margin-bottom: 2rem;
  .home_link {
    a {
      font-size: 2.7rem;
      color: $linkcolor !important;
      letter-spacing: 0.1em;
      font-weight: 700;
      &:hover {
        filter: brightness(85%);
        -webkit-filter: brightness(85%);
        transition: all 1s ease;
        border: none;
        text-decoration: none;
      }
    }
  }
  .navbar_bigscreen {
    padding: 0.5rem 0;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    @media all and (min-width: $lg-min) {
      justify-content: flex-start;
    }
  }
  .nav_links {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media all and (min-width: $lg-min) {
      justify-content: space-between;
      flex-direction: row;
    }
    .nav_links_list {
      margin: 0;
      padding: 0;
      line-height: 1.6;
      display: none;
      border-radius: 3px;
      @media all and (min-width: $lg-min) {
        display: flex;
        align-items: center;
      }
      li.link_item {
        position: relative;
        a.link {
          margin: 0 1rem -2px 1rem;
          transition: all 0.5s ease;
          padding: 0.5rem 0.2rem;
          border-bottom: 1px solid transparent;
          font-size: 0.85em;
          letter-spacing: 0.5px;
          display: block;
          color: $navcolor;
          text-decoration: none;
          font-weight: 600;
          cursor: pointer;
          @media all and (min-width: $lg-min) {
            font-size: 0.8em;
          }
          @media all and (min-width: $xl-min) {
            font-size: 0.85em;
          }
          &:hover {
            color: $navcolor;
            border-bottom: 2px solid $linkcolor;
            opacity: 1;
          }
          &.active,
          :visited {
            color: $navcolor;
          }
          &.active {
            border-bottom: 2px solid $linkcolor;
          }
        }
      }
    }
    //tweeking social icons component
    .social_icons {
      display: none;
      @media all and (min-width: $lg-min) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  //menu button
  .menu_btn {
    position: absolute;
    top: 0.8rem;
    right: 15px; //0
    z-index: 10000;
    width: 60px;
    height: 60px;
    padding: 1rem;
    margin-right: -0.9rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    /* Hamburger Line */
    > div {
      position: relative;
      flex: none;
      width: 100%;
      height: 2px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;
      /* Hamburger Lines - Top & Bottom */
      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
      }
      /* Moves Line Down */
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
        top: 10px;
      }
    }
    //hide veggoburger
    @media all and (min-width: $lg-min) {
      display: none;
    }
    //clicked veggoburger
    &.menu_btn_clicked {
      > div {
        transform: rotate(135deg);
        /* Turns Lines Into X */
        &:before {
          top: 0;
          transform: rotate(90deg);
        }
        &:after {
          top: 0;
          transform: rotate(90deg);
        }
      }
      &:hover {
        > div {
          transform: rotate(225deg);
        }
      }
    }
  }
  //Mobile nav
  .navbar_mobile {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2000;
    top: 0;
    left: 0;
    background: $themedarkgrey;
    opacity: 0.95;
    padding: 0 10%;
    padding-top: 20px;
    text-align: left;
    transition: transform 0.6s ease;
    //100% away
    transform: translateX(100%);
    @media all and (min-width: $lg-min) {
      display: none;
    }
    .nav_links {
      max-width: 10rem;
      .nav_links_list {
        display: block;
      }
      li.link_item {
        a.link {
          padding: 0.8rem 0.2rem;
          padding-left: 0;
          margin-left: 0;
        }
      }
      //tweeking social icons component mobile
      .social_icons {
        display: flex;
        .social_items_list {
          flex-direction: row;
          width: auto;
        }
        li.social_item {
          a {
            margin-left: 0;
            margin-right: 1rem;
          }
        }
      }
    }
    //toggle open menu
    &.navbar_mobile_open {
      overflow-x: auto;
      transform: translateX(0);
    }
  }
}
/**********************
  header pages
***********************/
.header_pages {
  position: relative;
  text-align: center;
  padding: 2rem 0;
  .heading {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .sub_heading {
    display: block;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
  }
}
/*********************
   filter
*********************/
.technique_options {
  padding-bottom: 2rem;
  h2 {
    margin-bottom: 0rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4;
    @media all and (min-width: $sm-min) {
      font-size: 1.3rem;
    }
    @media all and (min-width: $xl-min) {
      font-size: 1.4rem;
    }
  }
  div.filter_options {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    //custom checkboxes
    /* Customize the label (the container) */
    .option {
      text-transform: capitalize;
      display: block;
      position: relative;
      padding-left: 1.6rem;
      margin-bottom: 12px;
      margin-right: 0.7rem;
      cursor: pointer;
      font-size: 0.9rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      @media all and (min-width: $md-min) {
        margin-right: 1rem;
        padding-left: 1.9rem;
        font-size: 1rem;
      }
      /* Hide the browser's default checkbox */
      input.sr_only {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        overflow: hidden;
        cursor: pointer;
        top: 0;
        left: 0;
        height: 19px;
        width: 19px;
        z-index: 100;
        &:checked {
          ~ .checkmark {
            border: 1px solid #2e9ce6;
            background-color: #2e9ce6;
            /* Show checkmark when checked */
            &:after {
              display: block;
            }
          }
        }
        &:focus {
          ~ .checkmark {
            padding: 0.5rem;
            outline: solid 2px $themecolor;
            outline-offset: 5px;
            border-radius: 1px;
          }
        }
      }
      /* Create a custom checkbox */
      .checkmark {
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 0;
        height: 19px;
        width: 19px;
        background-color: #eee;
        border: 1px solid #737373;
        @media all and (min-width: $md-min) {
          height: 21px;
          width: 21px;
        }
        /* Create the checkmark/indicator (hidden when not checked) */
        &:after {
          content: "";
          position: absolute;
          display: none;
          //style it
          left: 7px;
          top: 3px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          @media all and (min-width: $md-min) {
            left: 8px;
            top: 4px;
          }
        }
      }
      /* On mouse-over, add a grey background color */
      &:hover {
        input {
          ~ .checkmark {
            filter: brightness(80%);
            -webkit-filter: brightness(80%);
            transition: all 1s ease;
          }
        }
      }
    }
  }
}
/*********************
   social icons
*********************/
.social_items_list {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;

  @media all and (min-width: $lg-min) {
    padding-top: 0;
    flex-direction: row !important;
    align-items: center;
  }
  li.social_item {
    padding: 0 0.1rem;
    &:first-child {
      padding-left: 0;
    }
    a {
      color: $linkcolor;
      font-size: 0.9em;
      &:hover {
        filter: brightness(85%);
        -webkit-filter: brightness(85%);
        transition: all 1s ease;
        text-decoration: none;
      }
    }
    .fab,
    .fas {
      padding-left: 0;
      margin-left: 0;
      font-weight: 900;
      font-size: 20px;
      padding-right: 0.6rem;
      padding-bottom: 0.6rem;
      text-align: center;
      text-decoration: none;
      transition: 1s;
      color: $linkcolor;
      @media all and (min-width: $lg-min) {
        margin: 0 0.4rem;
        padding: 8px;
        padding-bottom: 0;
      }
    }
  }
}

/**********************
   skills boxes
***********************/
.skills_section {
  .boxes {
    margin-bottom: 2.5rem;
    @media all and (min-width: $md-min) {
      margin-bottom: 4rem;
    }
    h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    > p {
      max-width: 50%;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  }
  .boxes_inner {
    display: flex;
    flex-direction: column;
    @media all and (min-width: $xl-min) {
      flex-direction: row !important;
      flex-wrap: wrap;
    }
    &.workingWays {
      @media all and (min-width: $md-min) {
        flex-direction: row !important;
        flex-wrap: wrap;
      }
    }
    .box {
      &:nth-of-type(1) {
        border-top-left-radius: $themeBorder_radius;
        border-top-right-radius: $themeBorder_radius;
      }
      &:nth-of-type(3) {
        border-bottom-left-radius: $themeBorder_radius;
        border-bottom-right-radius: $themeBorder_radius;
      }
      background: $themedarkgrey;
      min-height: 320px;
      overflow: hidden;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      display: flex;
      flex: 0 0 33.33%;
      &:nth-child(odd):not(:first-child) {
        background: $linkcolor !important;
      }
      &:nth-child(even) {
        background: $themedarkgrey !important;
      }
      &:first-child {
        &:before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.6);
          content: "";
          display: block;
          z-index: 0;
        }
      }
      img {
        width: 100%;
      }
      ul {
        list-style: initial;
        color: #fff;
      }
      &.workingWays {
        flex: 0 0 50%;
        height: 550px;
        ul {
          list-style: none;
          padding-left: 0;
        }
        .boxes_text_part_inner {
          @media all and (max-width: $sm-max) {
            padding: 2rem 0;
          }
        }
        &:nth-child(odd) {
          background: $dark_green_bg !important;
        }
        @media all and (min-width: $lg-min) {
          &:nth-of-type(2) {
            border-top-right-radius: $themeBorder_radius;
            border-bottom-right-radius: $themeBorder_radius;
          }
        }
        &:first-child {
          &:before {
            background: none;
          }
          .boxes_text_part_outer {
            @media all and (min-width: $md-min) {
              width: 100%;
              text-align: right;
            }
          }
        }
      }
      @media all and (min-width: $lg-min) {
        height: 880px;
        &:nth-of-type(1) {
          border-top-right-radius: 0;
          border-bottom-left-radius: $themeBorder_radius;
        }
        &:nth-of-type(3) {
          border-bottom-left-radius: 0;
          border-top-right-radius: $themeBorder_radius;
        }
      }
    }
  }
  .boxes_text_part_outer {
    //general for both sides
    position: relative;
    z-index: 10;
    padding: 2.5rem 2rem;
    //max-width: calc((1380px / 2) + 2.25rem);
    max-width: 100%;
    @media all and (min-width: $sm-min) {
      padding: 2.5rem;
    }
    @media all and (min-width: $md-min) {
      padding: 3rem;
    }
    @media all and (min-width: $xl-min) {
      padding: 4rem;
    }
    .boxes_text_part_inner {
      @media all and (max-width: $sm-max) {
        padding: 5.6rem 0;
      }
      ul {
        padding-left: 1rem;
      }
      li {
        margin-bottom: 1.7rem;
      }
      p {
        color: #fff;
        @media all and (min-width: $xl-min) {
          //font-size: 1rem;
        }
        strong {
          letter-spacing: 0.5px;
        }
      }
      h3 {
        color: #fff;
        letter-spacing: 0.5px;
        margin-bottom: 2rem;
      }
      .boxes_icon {
        margin-bottom: 1rem;
        font-size: 2.1rem;
        color: #fff;
      }
    }
  }
}
/*********************
   footer
*********************/
.footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 200px;
  background: $themedarkgrey;
  padding: 2.25rem calc(1.5rem - 15px);
  @media all and (min-width: $sm-min) {
    padding: 3rem calc(2.25rem - 15px);
    padding-top: 3rem;
  }
  @media all and (min-width: $md-min) {
    padding: 2rem calc(3rem - 15px);
    padding-top: 3rem;
  }
  @media all and (min-width: 1600px) {
    padding: 4rem calc(3.75rem - 15px);
    padding-top: 5rem;
  }
  .lower {
    > .row {
      flex-direction: column-reverse;
      @media all and (min-width: $lg-min) {
        flex-direction: row !important;
      }
    }
  }
  .footer_logo_section {
    color: #fff;
    padding-bottom: 1.5rem;
    h5 {
      color: #fff;
      margin-bottom: 1rem;
    }
    .powered_by {
      a {
        color: $linkcolor;
        &:hover {
          filter: brightness(85%);
          -webkit-filter: brightness(85%);
          transition: all 1s ease;
          text-decoration: none;
        }
      }
      img {
        display: inline;
        margin: 0 0.6rem 0 0;
        &.react_logo {
          width: 4.7rem;
          height: auto;
        }
        &.contentful_logo {
          width: 8rem;
          height: auto;
        }
      }
      .sanity {
        max-width: 1.3rem;
      }
    }
  }
  .back {
    float: right;
    a {
      position: relative;
      color: #737373;
      font-size: 0.9rem;
      &:hover {
        color: $linkcolor;
        text-decoration: none;
        &:before {
          background: $linkcolor;
        }
      }
      &:before {
        background: #fff;
        opacity: 0.3;
        position: absolute;
        bottom: 0;
        left: 1px;
        content: "";
        width: 100%;
        height: 2px;
        -webkit-transition: width 0.2s ease-in;
        transition: width 0.2s ease-in;
      }
    }
  }
  .footer_copy {
    background: transparent;
    margin-top: 2rem;

    @media all and (min-width: $md-min) {
    }
    p {
      color: #737373;
      font-size: 80%;
      margin-bottom: 0;
    }
  }
}
//PAGES
/**********************
   home page
***********************/
.home {
  .home_img_wrapper {
    position: relative;
    border-radius: $themeBorder_radius;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .heading_box_section {
      display: flex;
      justify-content: center;
      padding: 2rem;
    }
    .home_name {
      font-size: 5.5rem;
      color: $themeLightHeadingcolor;
      position: relative;
      @media all and (max-width: $xs-max) {
        font-size: 3.8rem;
      }
      @media all and (min-width: $md-min) {
        font-size: 7.5rem;
      }
      @media all and (min-width: $lg-min) {
        font-size: 8rem;
      }
      @media all and (min-width: $xl-min) {
        font-size: 8.5rem;
      }
    }
    .home_name_sub {
      display: block;
      color: $themeLightHeadingcolor;
      font-size: 2rem;
      position: relative;
      @media all and (max-width: $xs-max) {
        font-size: 1.6rem;
      }
      @media all and (min-width: $md-min) {
        font-size: 2rem;
      }
      @media all and (min-width: $lg-min) {
        font-size: 2.4rem;
      }
    }
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      content: "";
      display: block;
      border-radius: $themeBorder_radius;
    }
  }
  .home_text {
    margin: 0 auto;
    padding: 2.5rem;
    @media all and (min-width: $md-min) {
      padding: 4rem;
      max-width: 75%;
    }
    @media all and (min-width: $lg-min) {
      max-width: 80%;
    }
    @media all and (min-width: $xl-min) {
      max-width: 65%;
    }
    h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    a {
      color: $linkcolor;
      &:hover {
        text-decoration: none;
        filter: brightness(80%);
        -webkit-filter: brightness(80%);
        transition: all 1s ease;
      }
    }
  }
}
/*********************
   projects
*********************/
.projects {
  min-height: 500px;
  .col-12,
  .col-md-6,
  .col-lg-4 {
    margin-bottom: 2rem;
  }
  .project_link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    color: transparent;
    text-decoration: none;
    &:focus {
      outline: solid 2px $themecolor;
      outline-offset: 5px;
      border-radius: 1px;
    }
  }

  .project {
    position: relative;
    margin-bottom: 4rem;
    transition: 0.25s ease-in-out;
    background: #fff;
    border-top-left-radius: $themeBorder_radius;
    border-top-right-radius: $themeBorder_radius;
    .featured_image {
      border-top-left-radius: $themeBorder_radius;
      border-top-right-radius: $themeBorder_radius;
      box-shadow: 0 7px 34px 0 rgba(0, 0, 0, 0.07),
        0 11px 34px 0 rgba(0, 0, 0, 0.04);
      img {
        border-top-left-radius: $themeBorder_radius;
        border-top-right-radius: $themeBorder_radius;
        width: 100%;
        object-fit: cover;
        height: 100%;
        max-width: 100%;
      }
    }
    .content_container {
      padding-top: 1rem;
      .small_text {
        div {
          display: flex;
          flex-wrap: wrap;
          font-size: 0.85rem;
          margin-right: 0.5rem;
          color: #737373;
          margin-bottom: 4px;
          .font_bold {
            margin-right: 0.5rem;
            letter-spacing: 0.1px;
          }
          .technique {
            text-transform: lowercase;
            color: $linkcolor;
            display: inline;
            //  background: #d9d9d9;
            font-weight: 500;
            padding: 1px 3px 0 1px;
            margin-bottom: 0;
            margin-right: 5px;
            font-size: 0.9rem;
          }
        }
      }
      .title {
        margin: 1rem 0;
        font-size: 1.2rem;
      }
      .description {
        margin: 1rem 0;
        font-size: 1rem;
      }
    }
    &:hover {
      .title,
      .description,
      .small_text div,
      .font_bold {
        color: $linkcolor;
        transition: 0.25s ease-in-out;
      }
    }
  }
}
/*********************
   curriculum
*********************/
.curriculum {
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #fff;
  }
  h1 {
    color: $themeLightHeadingcolor;
  }
  .bg_wrapper {
    position: relative;
    padding: 3rem 0 5rem 0;
    // background: $lightgrey;
    background: $dark_green_bg;
    margin-bottom: 3rem;
    border-radius: $themeBorder_radius;
    .wrapper {
      width: 96%;
      margin: 0 auto;
      padding: 0 2%;
      overflow: auto;
      @media (min-width: $lg-min) {
        width: 800px;
        margin: 0 auto 0 auto;
      }
    }
  }
}
.curriculum_items {
  .curriculum_item {
    position: relative;
    width: 100%;
    padding: 0.7rem 0;
    a,
    li {
      color: #fff;
    }
    h2 {
      font-size: 1rem;
      letter-spacing: 0.8px;
      margin-bottom: 0rem;
      a {
        cursor: pointer;
        &:hover {
          transition: all 1s ease;
          text-decoration: none;
          color: $linkcolor;
        }
      }
    }
    .date {
      display: block;
      padding: 0.2rem 0 0.5rem 0;
      margin: 0;
      color: #c1d7a8;
      font-size: 0.8rem;
    }
    //sitelist
    .site {
      color: #fff;
      font-weight: 500;
      font-size: 0.8rem;
      letter-spacing: 0.5px;

      a {
        position: relative;
        display: inline-block;
        margin-bottom: 0.3rem;
        color: #fff;

        &:hover {
          color: $linkcolor;
          transition: all 0.5s ease;
          text-decoration: none;
        }
      }
    }
    //accordion
    .accordion {
      background: transparent;
      border: none;
      padding: 0.5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      margin: 1rem auto;
      border-radius: $themeBorder_radius;
      width: 100%;
      text-align: left;
      .heading {
        cursor: pointer;
        transition: all 0.4s linear;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        h3 {
          font-size: 0.9rem;
          font-weight: 500;
          margin-bottom: 0;
        }
        .arrow {
          transition: all 0.3s linear;
          color: #fff;
          font-size: 1.1rem;
          margin-left: 0.5rem;
          height: 1rem;
          &:hover {
            filter: brightness(85%);
            -webkit-filter: brightness(85%);
          }
        }
      }
      .content {
        margin-bottom: 0;
        padding: 0rem 1rem 0rem 2rem;
        font-size: 90%;
        max-height: 0;
        overflow-y: hidden;
        transition: all 0.4s ease-out;
        opacity: 0;
        line-height: 1.5;
      }
      &.open {
        .heading {
          margin-bottom: 1rem;
        }
        .arrow {
          transform: rotate(180deg);
        }
        .content {
          opacity: 1;
          max-height: 350px;
        }
      }
    }
  }
}
